Source: kubernetes
Section: admin
Priority: optional
Maintainer: Debian Kubernetes Packaging Team <team+kubernetes@tracker.debian.org>
Uploaders: Arthur Diniz <arthurbdiniz@gmail.com>,
           Janos Lenart <ocsi@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-exec,
               dh-sequence-golang,
               golang-any,
               golang-github-chai2010-gettext-go-dev,
               golang-github-daviddengcn-go-colortext-dev,
               golang-github-distribution-reference-dev,
               golang-github-evanphx-json-patch-dev,
               golang-github-exponent-io-jsonpath-dev,
               golang-github-fatih-camelcase-dev,
               golang-github-go-openapi-jsonreference-dev,
               golang-github-google-gnostic-models-dev,
               golang-github-google-go-cmp-dev,
               golang-github-jonboulle-clockwork-dev,
               golang-github-liggitt-tabwriter-dev,
               golang-github-lithammer-dedent-dev,
               golang-github-makenowjust-heredoc-dev,
               golang-github-mitchellh-go-wordwrap-dev,
               golang-github-moby-term-dev,
               golang-github-onsi-ginkgo-v2-dev,
               golang-github-pkg-errors-dev,
               golang-github-russross-blackfriday-v2-dev,
               golang-github-spf13-cobra-dev,
               golang-github-spf13-pflag-dev,
               golang-github-stretchr-testify-dev,
               golang-golang-x-sys-dev,
               golang-gopkg-yaml.v2-dev,
               golang-k8s-api-dev,
               golang-k8s-apimachinery-dev,
               golang-k8s-cli-runtime-dev,
               golang-k8s-client-go-dev,
               golang-k8s-component-base-dev,
               golang-k8s-component-helpers-dev,
               golang-k8s-klog-dev,
               golang-k8s-kube-openapi-dev,
               golang-k8s-metrics-dev,
               golang-k8s-sigs-json-dev,
               golang-k8s-sigs-kustomize-dev,
               golang-k8s-sigs-kustomize-kyaml-dev,
               golang-k8s-sigs-structured-merge-diff-dev,
               golang-k8s-sigs-yaml-dev,
               golang-k8s-utils-dev,
               curl <!nocheck> | wget <!nocheck>,
               help2man <!nodoc>
Standards-Version: 4.7.2
Homepage: https://kubernetes.io/
Vcs-Browser: https://salsa.debian.org/kubernetes-team/packages/kubernetes
Vcs-Git: https://salsa.debian.org/kubernetes-team/packages/kubernetes.git

Package: kubernetes-client
Architecture: amd64 i386 armel armhf arm64 s390x
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Kubernetes client binary (kubectl)
 Kubernetes is a portable, extensible, open-source platform for managing
 containerized workloads and services, that facilitates both declarative
 configuration and automation. It has a large, rapidly growing ecosystem.
 Kubernetes services, support, and tools are widely available.
 .
 Currently this package only ships the kubectl binary. Configuration
 (via kubeconfig) will has to be created via other means.
